# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/lib
/dist

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env

public/**/*.afdesign
public/**/*.afphoto

**/public/workbox-*.js
**/public/workbox-*.map
**/public/sw.js
**/public/sw.js.map
**/public/worker-*.js
